<?xml version="1.0"?>
<model>
  <name>Quaranto Bot</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Kaustubh Dixit</name>
   <email>me@my.email</email>
  </author>

  <description>
    A simulated bot capable of performing different tasks.
  </description>
</model>
